<body>
  <h1>Available Critter List</h1>
  <ul class="pet-list-container"></ul>
    {{#each pets}}
    <li class="critters">
      <h2>{{pet.name}}</h2>
      <p>Species: {{species}}</p>
      <p>Breed: {{breed}}</p>
      <p>Gender: {{gender}}</p>
      <p>Lil About Me: {{description}}</p>
      <p>Whereabouts: {{location}}</p>
      <p>User: {{user_id}}</p>
    </li>
    {{/each}} 
</body>

<div class=>
  <div class="row mb-4">
    <ul 
      <h2>
        {{!-- <p>{{pet.user.name}}</p> --}}
      </h2>
      <!--why is this not woking -->
  </div>
{{!-- {{#each pets as |pet| }} --}}
  {{!-- {{/each}}  --}}
</div>





