  
  <div class>
        <li class="critter-card">
          <h2>{{name}}</h2>
          <p><strong>Breed:</strong> {{breed}}</p>
          <p><strong>Gender:</strong> {{gender}}</p>
          <p><strong>Lil 'bout me:</strong> {{description}}</p>
          <p><strong>Whereabouts:</strong> {{location}}</p>
          <p><strong>User:</strong> {{user_id}}</p>
        </li>
  </div>





