  
  <div class>
        <li class="critter-card">
          <h2>{{pet.name}}</h2>
          <p><strong>Breed:</strong> {{pet.breed}}</p>
          <p><strong>Gender:</strong> {{pet.gender}}</p>
          <p><strong>Lil 'bout me:</strong> {{pet.description}}</p>
          <p><strong>Whereabouts:</strong> {{pet.location}}</p>
          <p><strong>User:</strong> {{pet.user.name}}</p>
        </li>
  </div>





